{{/*
	Template "Link":
	.
	|- LinkPath string (eg: "/something/another.html")
	|- LinkDisplayName string (eg: "Click Here for Another!")
	
	IDs:
		None
	Classes:
		None
*/}}
{{define "Link"}}<a href={{.LinkPath}}>{{.LinkDisplayName}}</a>{{end}}

{{/*
	Template "LinkClass":
	.
	|- LinkPath string (eg: "/something/another.html")
	|- LinkDisplayName string (eg: "Click Here for Another!")
	|- Classes string
	
	IDs:
		None
	Classes:
		{{Classes}}
*/}}
{{define "LinkClass"}}<a href={{.LinkPath}} class={{.Classes}}>{{.LinkDisplayName}}</a>{{end}}

{{/*
	Template "Table"
	.
	|- Rows []Row
		|- Row Row
		|- ...
		|- Row Row
			|- Cells []string
				|- string
				|- ...
				|- string
	|- Headers Row
		|- Cells []string
			|- string
			|- ...
			|- string
			
	IDs:
		None
	Classes:
		None
*/}}
{{define "Table"}}<table>{{if .Headers}}<tr>{{range .Headers.Cells}}<th>{{.}}</th>{{end}}</tr>{{end}}{{range .Rows}}<tr>{{range .Cells}}<td>{{.}}</td>{{end}}</tr>{{end}}</table>{{end}}

{{/*
	Template "EditableDiv"
	.
	|- CSSID string
	|- Editable bool
	|- Default string
*/}}
{{define "EditableDiv"}}<div id={{.CSSID}} contentEditable={{.Editable}}>{{.Default}}</div>{{end}}