{{/*
	Template "SwitchAbstractForm":
	.
	|- SubmitUri
	|- Method
	|- FormId
	|- SwitchInputs []
		|- InputId // Required
		|- HasLabel
		|- Label // Only if HasLabel
		|- Type // Only if !IsTextArea
		|- Name
		|- Value
		|- CssClass
		|- IsTextArea
		|- Cols // Only if IsTextArea
		|- Rows // Only if IsTextArea
		|- Required // Only if IsTextArea
		|- Spellcheck // Only if IsTextArea
	
	IDs:
		None
	Classes:
		inputField
*/}}
{{define "SwitchAbstractForm"}}<form id="{{.FormId}}" action="{{.SubmitUri}}" method="{{.Method}}">{{range .SwitchInputs}}{{if .HasLabel}}<label for="{{.InputId}}">{{.Label}}</label>{{end}}{{if .IsTextArea}}<textarea id="{{.InputId}}" form="{{$.FormId}}" class="{{.CssClass}}" name="{{.Name}}" cols="{{.Cols}}" rows="{{.Rows}}" spellcheck="{{.Spellcheck}}"{{if .Required}} required{{end}}>{{.Value}}</textarea>{{else}}<input id="{{.InputId}}" type="{{.Type}}" class="{{.CssClass}}" name="{{.Name}}" value="{{.Value}}" />{{end}}{{end}}</form>{{end}}